# mpd
.config/mpd
!.config/mpd/mpd.conf

# vscode
.config/Code
!.config/Code/User/settings.json

# misc
.config/nvim/.netrwhist
.config/chromium
.config/menus
.config/pulse
.config/configstore
.config/dconf
.config/discord
.config/bookworm

# coc
## ignore everything except extensions/
.config/coc/*
!.config/coc/extensions
## ignore everything in extesions/ except package.json
.config/coc/extensions/*
!.config/coc/extensions/package.json
## I don't know why I have to do this for coc, but
## not for the VSC config. It just doesn't work.